<!-- src/main/resources/templates/fragments/navbar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="bg, en">
<head>
  <title>Navbar</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

<nav id="navbar">
  <div class="logo_wrapper">
    <a href="/"><img src="/images/my_logo.png" alt="logo" class="logo"></a>
  </div>
  <a href="/" class="nav_title">Boryana's Therapy</a>

  <!-- Hamburger Menu -->
  <button class="menu-toggle" id="menu-toggle">☰</button>

  <!-- Navigation Links -->
  <ul class="nav-links" id="nav-links">
    <li><a href="/" th:text="#{home}">Home</a></li>
    <li><a href="/about" th:text="#{about}">About me</a></li>
    <li class="dropdown">
      <a href="/services" class="dropbtn">
        <span th:text="#{services}">Services</span>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="dropdown-content">
        <a class="services-dropdown" href="/services/counselling" th:text="#{counselling}">Individual Counselling</a>
        <a class="services-dropdown" href="/services/vret" th:text="#{vret}">Virtual Reality Exposure Therapy</a>
      </div></li>
    <li><a href="/blog" th:text="#{blog}">Blog</a></li>
    <li><a href="/contact" th:text="#{contact}">Contact</a></li>
    <li class="nav-book"><a href="/book" th:text="#{book}">Book an Appointment</a></li>

    <!-- Admin Dropdown -->
    <li sec:authorize="hasRole('ADMIN')" class="dropdown">
      <a href="/admin/control-panel" class="dropbtn">
        <span th:text="#{adminPanel}">Admin Panel</span>
        <i class="fas fa-chevron-down"></i>
      </a>
      <div class="dropdown-content">
        <a href="/admin/dashboard" th:text="#{bookings}">Bookings</a>
        <a href="/admin/messages" th:text="#{messages}">Messages</a>
        <a href="/admin/calendar" th:text="#{calendar}">Calendar</a>
        <a href="/admin/articles" >Articles</a>
        <a href="/logout" th:text="#{logout}">Logout</a>
      </div>
    </li>

    <li>
      <div class="language-switcher">
        <a href="?lang=bg">
          <img src="/images/flags/bg.svg" alt="Български" class="flag-icon">
        </a>
        <a href="?lang=en">
          <img src="/images/flags/us.svg" alt="English" class="flag-icon">
        </a>
      </div>

    </li>
  </ul>
</nav>

<script th:src="@{/js/navbar.js}"></script>

</body>
</html>
