<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg, en">
<head th:replace="~{fragments/head}">
    <title th:text="#{about.title}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>

<div class="parallax-section">
    <h1 class="parallax-title" th:text="#{about.parallaxTitle}"></h1>
</div>

<section class="about-me">
    <div class="content">
        <h2 th:text="#{about.greeting}"></h2>
        <p class="about-me-content" th:text="#{about.intro}"></p>
        <p th:text="#{about.specializationIntro}"></p>
        <ul class="circle-list">
            <li th:text="#{about.anxietyStress}"></li>
            <li th:text="#{about.lowSelfEsteem}"></li>
            <li th:text="#{about.depression}"></li>
            <li th:text="#{about.relationships}"></li>
            <li th:text="#{about.perfectionism}"></li>
            <li th:text="#{about.lifeChanges}"></li>
            <li th:text="#{about.trauma}"></li>
        </ul>
    </div>
</section>

<section class="certificates">
    <h2 th:text="#{about.certificationsTitle}"></h2>
    <div class="certificate-gallery">
        <div class="certificate-item">
            <img src="/images/certificate-1.png" alt="Certificate 1" class="certificate-img">
        </div>
        <div class="certificate-item">
            <img src="/images/certificate-2.jpg" alt="Certificate 2" class="certificate-img">
        </div>
        <div class="certificate-item">
            <img src="/images/certificate-3.png" alt="Certificate 3" class="certificate-img">
        </div>
    </div>
</section>

<script th:src="@{/js/certificates.js}"></script>
<div th:replace="~{fragments/footer :: body}"></div>
</body>
</html>