<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Confirmation</title>
</head>

<body>
<div th:replace="~{fragments/navbar :: body}"></div>

<div class="confirmation-container">
    <h1>Booking Confirmed!</h1>
    <div class="icon">
        <i class="fas fa-check-circle"></i>
    </div>
    <p class="message">Your booking has been successfully confirmed! An email with the details will be sent to you shortly.</p>
    <div class="book-now-button-container">
        <a href="/" class="btn-primary">Return to Homepage</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: body}"></div>

</body>

</html>
