<!DOCTYPE html>
<html lang="en, bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <title>Cookies</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>
<header class="legal-header">
    <h1>Общи условия за използване</h1>
</header>

<section class="legal-section">
    <h2><strong>Общи условия за използване на уебсайта и предоставяне на психологически услуги</strong></h2>
    <p>Настоящите общи условия уреждат условията за използване на домейн, наричан по-долу за краткост “уебсайта”.</p>

    <p>Уебсайтът се управлява от Боряна Димитрова Зафирова, регистрирана като психолог на свободна професия, наричана по-долу за краткост “психологът”. Контакти:<br>
        Email: <a href="mailto:boryanas.therapy@gmail.com">boryanas.therapy@gmail.com</a><br>
        Телефон: <a href="tel:+359895646762">+359 89 564 6762</a></p>
    <ul class="roman-ul">
        <li>Общи разпоредби.
            <ol class="numbers-ol">
                <li>Настоящите Общи условия уреждат отношенията между психолога Боряна Димитрова Зафирова, собственик на Boryana’s Therapy, и клиентите, които използват уебсайта и описаните на него психологически услуги.</li>
                <li>Психологът е регистриран в НАП и агенцията по вписванията като психолог на свободна професия.</li>
                <li>Психологът е дипломиран специалист и предоставя услуги съгласно законодателството на Република България и етичния кодекс на психолозите.
                </li>
                <li>Настоящите общи условия са задължителни за всички потребители на платформата. С използването на уебсайта и описаните в него услуги, клиентът се съгласява с настоящите Общи условия.
                </li>
            </ol>
        </li>
        <li>Услуги.
            <ol class="numbers-ol">
                <li>Психологът предоставя индивидуални консултации и други свързани с психологията услуги.</li>
                <li>Консултациите могат да се провеждат присъствено в кабинет, уреден от психолога, или онлайн чрез предварително уговорена с клиента платформа.
                </li>
                <li>Психологът не предоставя медицински услуги и не предписва медикаменти.</li>
                <li>Психологът предоставя услуги в съответствие с етичните стандарти на психолозите.</li>
                <li>Психологът предоставя услугите си с максимално качество, но успехът и резултатите им зависят от активното ангажиране на клиента в процеса.</li>
            </ol>
        </li>
        <li>Записване и отмяна на часове.
            <ol>
                <li>Sub-item 1</li>
                <li>Sub-item 2</li>
                <li>Sub-item 3</li>
                <li>Sub-item 4</li>
            </ol>
        </li>
        <li>Права и задължения на страните.
            <ol>
                <li>Sub-item 1</li>
                <li>Sub-item 2</li>
                <li>Sub-item 3</li>
                <li>Sub-item 4</li>
            </ol>
        </li>
        <li>Конфиденциалност и обработка на лични данни.
            <ol>
                <li>Sub-item 1</li>
                <li>Sub-item 2</li>
                <li>Sub-item 3</li>
                <li>Sub-item 4</li>
            </ol>
        </li>
        <li>Цени на услугите и начини на плащане.
            <ol>
                <li>Sub-item 1</li>
                <li>Sub-item 2</li>
                <li>Sub-item 3</li>
                <li>Sub-item 4</li>
            </ol>
        </li>
        <li>Отговорност.
            <ol>
                <li>Sub-item 1</li>
                <li>Sub-item 2</li>
                <li>Sub-item 3</li>
                <li>Sub-item 4</li>
            </ol>
        </li>
    </ul>

</section>
<div th:replace="~{fragments/footer :: body}"></div>

</body>
</html>