<!DOCTYPE html>
<html lang="en, bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <title th:text="#{cookies.title}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>
<header class="legal-header">
    <h1 th:text="#{cookies.header}"></h1>
</header>

<section class="legal-section">
    <h2 th:text="#{cookies.introduction.title}"></h2>
    <p th:text="#{cookies.introduction.content}"></p>

    <h2 th:text="#{cookies.whatAre.title}"></h2>
    <p th:text="#{cookies.whatAre.content}"></p>

    <h2 th:text="#{cookies.types.title}"></h2>
    <p th:text="#{cookies.types.essential}"></p>
    <p th:text="#{cookies.types.analytical}"></p>
    <p th:text="#{cookies.types.functionality}"></p>
    <p th:text="#{cookies.types.marketing}"></p>

    <h2 th:text="#{cookies.managing.title}"></h2>
    <p th:text="#{cookies.managing.content}"></p>
    <p th:text="#{cookies.managing.chrome}"></p>
    <p th:text="#{cookies.managing.firefox}"></p>
    <p th:text="#{cookies.managing.safari}"></p>
    <p th:text="#{cookies.managing.edge}"></p>

    <h2 th:text="#{cookies.thirdParty.title}"></h2>
    <p th:text="#{cookies.thirdParty.content}"></p>

    <h2 th:text="#{cookies.updates.title}"></h2>
    <p th:text="#{cookies.updates.content}"></p>

    <h2 th:text="#{cookies.contact.title}"></h2>
    <p>
        <th:block th:text="#{cookies.contact.managedBy}"></th:block><br>
        <th:block th:text="#{cookies.contact.email}"></th:block> <a th:href="'mailto:' + #{cookies.contact.emailAddress}" th:text="#{cookies.contact.emailAddress}"></a><br>
        <th:block th:text="#{cookies.contact.phone}"></th:block> <a th:href="'tel:' + #{cookies.contact.phoneNumber}" th:text="#{cookies.contact.phoneNumber}"></a>
    </p>
</section>
<div th:replace="~{fragments/footer :: body}"></div>
</body>
</html>