<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en, bg">
<head th:replace="~{fragments/head}">
    <title></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>
<section class="hero">
    <h1 th:text="#{welcome}"></h1>
    <p th:text="#{journey}"></p>
    <p class="book-now-button-container"><a href="/book" class="btn-primary" th:text="#{book}"></a></p>
</section>

<section class="about">
    <div class="parent">
        <div class="about-content">
            <a href="/about"><img src="/images/penguin.jpg" alt="logo" class="home-logo"></a>
        </div>
        <div class="about-content">
            <h2 class="section-head" th:text="#{aboutMe}"></h2>
            <p class="about-content-p" th:text="#{aboutContent}"></p>
            <div class="vision-mission">
                <div class="vision">
                    <h3 th:text="#{myApproach}"></h3>
                    <p th:text="#{approachContent}"></p>
                </div>
                <div class="mission">
                    <h3 th:text="#{howCanIHelp}"></h3>
                    <p th:text="#{help1}"></p>
                    <p th:text="#{help2}"></p>
                    <p th:text="#{help3}"></p>
                </div>
            </div>
            <div class="button-container">
                <div class="buttons">
                    <a href="/about" class="learn-more-button" th:text="#{learnMore}"></a>
                    <a href="/contact" class="get-in-touch-button" th:text="#{getInTouch}"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <h2 class="section-head" th:text="#{myServices}"></h2>
    <div class="parent">
        <div class="services-content">
            <h2 th:text="#{individualTherapy}"></h2>
            <a href="/services/counselling">
                <div class="services-item">
                    <p th:text="#{counsellingContent}"></p>
                    <p th:text="#{counselling1}"></p>
                    <p th:text="#{counselling2}"></p>
                    <p th:text="#{counselling3}"></p>
                </div>
            </a>
        </div>
        <div class="services-content">
            <h2 th:text="#{vrTherapy}"></h2>
            <a href="/services/vret">
                <div class="services-item">
                    <p th:text="#{vrContent}"></p>
                </div>
            </a>
        </div>
    </div>
</section>

<section class="therapy-section">
</section>

<section class="faq-section">
    <div class="faq-container">
        <div class="faq-header">
            <h2 th:text="#{faq}"></h2>
        </div>

        <div class="faq-list">
            <div class="faq-item">
                <div class="faq-question">
                    <p th:text="#{faq1}"></p>
                    <button class="faq-toggle"><i class="fas fa-plus"></i></button>
                </div>
                <div class="faq-answer">
                    <p th:text="#{faq1Answer}"></p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <p th:text="#{faq2}"></p>
                    <button class="faq-toggle"><i class="fas fa-plus"></i></button>
                </div>
                <div class="faq-answer">
                    <p th:text="#{faq2Answer}"></p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <p th:text="#{faq3}"></p>
                    <button class="faq-toggle"><i class="fas fa-plus"></i></button>
                </div>
                <div class="faq-answer">
                    <p th:text="#{faq3Answer}"></p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <p th:text="#{faq4}"></p>
                    <button class="faq-toggle"><i class="fas fa-plus"></i></button>
                </div>
                <div class="faq-answer">
                    <p th:text="#{faq4Answer}"></p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <p th:text="#{faq5}"></p>
                    <button class="faq-toggle"><i class="fas fa-plus"></i></button>
                </div>
                <div class="faq-answer">
                    <p th:text="#{faq5Answer}"></p>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: body}"></div>
<script src="/js/homeScript.js"></script>
<script src="/js/faq.js"></script>

</body>
</html>