<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="bg, en">
<head th:replace="~{fragments/head}">
    <title th:text="#{services.title}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>

<div class="parallax-services">
    <h1 class="parallax-title" th:text="#{services.parallaxTitle}"></h1>
</div>

<section class="services">
    <div class="parent">
        <div class="services-content">
            <h2 th:text="#{services.individualTherapyTitle}"></h2>
            <a th:href="@{/services/counselling}">
                <div class="services-item">
                    <p th:text="#{services.individualTherapyDescription}"></p>
                    <p th:text="#{services.individualTherapyStep1}"></p>
                    <p th:text="#{services.individualTherapyStep2}"></p>
                    <p th:text="#{services.individualTherapyStep3}"></p>
                </div>
            </a>
        </div>
        <div class="services-content">
            <h2 th:text="#{services.vrTherapyTitle}"></h2>
            <a th:href="@{/services/vret}">
                <div class="services-item">
                    <p th:text="#{services.vrTherapyDescription}"></p>
                </div>
            </a>
        </div>
    </div>
</section>

<script th:src="@{/js/certificates.js}"></script>
<div th:replace="~{fragments/footer :: body}"></div>
<script src="/js/homeScript.js"></script>
</body>
</html>