<!DOCTYPE html>
<html lang="en, bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head">
    <meta charset="UTF-8">
    <title>Terms</title>
</head>
<body>
<div th:replace="fragments/navbar :: body"></div>
<header class="legal-header">
    <h1>Общи условия за използване</h1>
</header>

<section class="legal-section">
    <h2><strong>Общи условия за използване на уебсайта и предоставяне на психологически услуги</strong></h2>
    <p>Настоящите общи условия уреждат условията за използване на домейн, наричан по-долу за краткост “уебсайта”.</p>

    <p>Уебсайтът се управлява от Боряна Димитрова Зафирова, регистрирана като психолог на свободна професия, наричана по-долу за краткост “психологът”. Контакти:<br>
        Email: <a href="mailto:boryanas.therapy@gmail.com">boryanas.therapy@gmail.com</a><br>
        Телефон: <a href="tel:+359895646762">+359 89 564 6762</a></p>

    <h3>Общи разпоредби</h3>
    <p>Настоящите Общи условия уреждат отношенията между психолога Боряна Димитрова Зафирова, собственик на Boryana’s Therapy, и клиентите, които използват уебсайта и описаните на него психологически услуги.</p>

    <h3>Услуги</h3>
    <p>Психологът предоставя индивидуални консултации и други свързани с психологията услуги...</p>

    <h3>Записване и отмяна на часове</h3>
    <p>Часове за консултация се записват предварително чрез уебсайта, телефон, имейл или социални мрежи...</p>

    <h3>Права и задължения на страните</h3>
    <p>Психологът се задължава да спазва професионалната етика, конфиденциалност и правата на клиента...</p>

    <h3>Конфиденциалност и обработка на лични данни</h3>
    <p>Всички споделени данни по време на консултациите са поверителни и няма да бъдат разкривани на трети лица...</p>

    <h3>Цени на услугите и начини на плащане</h3>
    <p>Цените за услугите са в български лева и/или евро...</p>

    <h3>Отговорност</h3>
    <p>Психологът не носи отговорност за решения, които клиентът взема въз основа на консултациите...</p>

    <h3>Допълнителни разяснения</h3>
    <p>Настоящите Общи условия могат да бъдат актуализирани по всяко време...</p>

    <p>Ако имате въпроси относно общите условия, <a href="/contact">свържете се с нас</a>.</p>

    <p><strong>Настоящите общи условия влизат в сила от 01.03.2025г.</strong></p>
</section>
<div th:replace="fragments/footer :: body"></div>
</body>
</html>