<!DOCTYPE html>
<html lang="en, bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <meta charset="UTF-8">
    <title th:text="#{terms.title}"></title>
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>
<header class="legal-header">
    <h1 th:text="#{terms.header}"></h1>
</header>

<section class="legal-section">
    <h2 th:text="#{terms.header}"></h2>
    <p th:text="#{terms.intro}"></p>

    <p><th:block th:text="#{terms.managedBy}"></th:block><br>
        <th:block th:text="#{terms.email}"></th:block> <a href="mailto:boryanas.therapy@gmail.com">boryanas.therapy@gmail.com</a><br>
        <th:block th:text="#{terms.phone}"></th:block> <a href="tel:+35988888888">+359 88 888 8888</a></p>
    <ul class="roman-ul">
        <li><th:block th:text="#{terms.general.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.general.relationship}"></li>
                <li th:text="#{terms.general.registration}"></li>
                <li th:text="#{terms.general.qualification}"></li>
                <li th:text="#{terms.general.mandatory}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.services.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.services.individual}"></li>
                <li th:text="#{terms.services.location}"></li>
                <li th:text="#{terms.services.medical}"></li>
                <li th:text="#{terms.services.ethics}"></li>
                <li th:text="#{terms.services.engagement}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.appointments.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.appointments.schedule}"></li>
                <li th:text="#{terms.appointments.confirmation}"></li>
                <li th:text="#{terms.appointments.cancellation}"></li>
                <li th:text="#{terms.appointments.delay}"></li>
                <li th:text="#{terms.appointments.inability}"></li>
                <li th:text="#{terms.appointments.incapacity}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.rights.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.rights.ethics}"></li>
                <li><th:block th:text="#{terms.rights.refusal}"></th:block>
                    <ul class="circle-list">
                        <li th:text="#{terms.rights.behavior}"></li>
                        <li th:text="#{terms.rights.medical}"></li>
                        <li th:text="#{terms.rights.other}"></li>
                    </ul>
                </li>
                <li><th:block th:text="#{terms.rights.client}"></th:block>
                    <ul class="circle-list">
                        <li th:text="#{terms.rights.information}"></li>
                        <li th:text="#{terms.rights.communication}"></li>
                        <li th:text="#{terms.rights.payment}"></li>
                    </ul>
                </li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.confidentiality.title}"></th:block>
            <ol class="numbers-ol">
                <li><th:block th:text="#{terms.confidentiality.privacy}"></th:block>
                    <ul class="circle-list">
                        <li th:text="#{terms.confidentiality.legal}"></li>
                        <li th:text="#{terms.confidentiality.danger}"></li>
                    </ul>
                </li>
                <li th:text="#{terms.confidentiality.regulation}"></li>
                <li th:text="#{terms.confidentiality.storage}"></li>
                <li th:text="#{terms.confidentiality.records}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.prices.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.prices.currency}"></li>
                <li th:text="#{terms.prices.update}"></li>
                <li><th:block th:text="#{terms.prices.payment}"></th:block>
                    <ul class="circle-list">
                        <li th:text="#{terms.prices.bank}"></li>
                        <li th:text="#{terms.prices.online}"></li>
                        <li th:text="#{terms.prices.cash}"></li>
                    </ul>
                </li>
                <li th:text="#{terms.prices.fees}"></li>
                <li th:text="#{terms.prices.installment}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.responsibility.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.responsibility.decisions}"></li>
                <li th:text="#{terms.responsibility.consultative}"></li>
                <li th:text="#{terms.responsibility.results}"></li>
                <li th:text="#{terms.responsibility.participation}"></li>
                <li th:text="#{terms.responsibility.data}"></li>
                <li th:text="#{terms.responsibility.expectations}"></li>
                <li th:text="#{terms.responsibility.events}"></li>
                <li th:text="#{terms.responsibility.damages}"></li>
                <li th:text="#{terms.responsibility.quality}"></li>
            </ol>
        </li>
        <li><th:block th:text="#{terms.additional.title}"></th:block>
            <ol class="numbers-ol">
                <li th:text="#{terms.additional.update}"></li>
                <li th:text="#{terms.additional.copyright}"></li>
                <li th:text="#{terms.additional.disputes}"></li>
            </ol>
        </li>
    </ul>
    <p th:text="#{terms.contactUs}"></p>
    <p th:text="#{terms.effectiveDate}"></p>

</section>
<div th:replace="~{fragments/footer :: body}"></div>

</body>
</html>